/* ProfileEditor.css */
.profile-editor {
  width: 100vw;
  margin: 0 ;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex; /* Use a flex container */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */

}

.profile-editor h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.profile-form{
  padding:10px;
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  width: 80%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

button[type="submit"] {
  background-color: mediumaquamarine;
  color: #fff;
  padding: 10px 60px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.form-submit{
 align-items: center;
 justify-content: center;
 text-align: center;
}

