.eit-container {
    display: flex;
  }
  
  .column-left {
    flex: 0 0 30%;
    background-color: #f0f0f0; 
    padding: 20px; 
    width:30%;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
  }
  
  .column-right {
    flex: 1; 
    padding: 20px; 
    width:70%;
    margin: 5px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center horizontally */
  }
  .eit_image{
    border: 2px solid;
    border-radius: 50%; /* Create a rounded border for the image (for a circular appearance) */
    width: 150px; /* Adjust the image width as needed */
    height: 150px; /* Adjust the image height as needed */
    object-fit: cover; /* Ensure the image covers the entire container */
    margin: 0 auto; /* Center the image horizontally */
    display: block;
  }