.somameter{
    margin-left: 20px;
}
.container{

    margin-left: 20px;
    margin-right: auto;
}
.meter-reader{
    width: 350px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
    padding-right: 1px;

}
.meter-reader-paragraph{
    margin-left: 100px;
    flex-basis: 60%;
}
.row {
    display: flex;
}
.paragraph {
    max-width: 75%;
    margin-left: 5px;
    margin-right: auto;
}
.read-meter{
    width: 900px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.read-meter img {
    width: 100%;
    height: auto;
}