.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container-Raiseticket {
    width: 700px;
    height: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: darkgoldenrod;
    color: #282c34;
    min-width: max-content;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.ticketCat{
    width: 100%;
    box-sizing: border-box;

}
.ticketCat_selection{
    width: 100%;

}


.complaint{
    min-height: 100px;
}
.buttons{
    width: 700px;
}

.back_button {
    position: relative;
    left: 0px;
    bottom: 0px;
    margin-right: 550px;
    font-size: large;
    border-radius: 15%;
    background-color: midnightblue;
}

.back_button a{
    color: white;
}
.submit_button{
    position: relative;
    right: 0px;
    font-size: large;
    border-radius: 10%;
    background-color: midnightblue;
    color: white;
}